{% extends 'auctions/layout.html' %}
{% block title %}
    {{listing.title}} - $ {{listing.current_bid}}
{% endblock %}
{% block body %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        
        <table>
            <tr>
                <td style="width: 35%; text-align:center">
                    <h2>{{listing.title}}</h2>
                    <br>
                    <img src="{{listing.image}}" alt="Image" style="width: 100%;">
                </td>
                <td style="vertical-align: text-top;">
                    {% if listing.active %}
                        <div style="text-align: center; vertical-align:text-top;">
                            <h2>$ {{listing.current_bid}}</h2>
                            <div class="container">
                                {% if user == current_bid.user %}
                                    <div class="text-muted" style="text-align: left;">{{total_bids}} bid(s) so far. Latest placed by you.</div>
                                {% else %}
                                    <div class="text-muted" style="text-align: left;">{{total_bids}} bid(s) so far. Latest placed by {{current_bid.user}}</div>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <form action="{% url 'listing' listing.id %}" method="post" class="form-group">
                                        {% csrf_token %}
                                        <input type="number" placeholder="Bid" class="form-control" name="bid" min="{{listing.current_bid}}">
                                        <br>
                                        <input type="submit" value="Place Bid" class="btn btn-primary">
                                    </form>
                                {% else %}
                                    <br>
                                    <div style="text-align: left;">
                                        Please, log in to place a bid.
                                    </div>
                                    <br>
                                {% endif %}
                            </div>
                        </div>
                        <div style="text-align: left; vertical-align:text-top;" class="container">
                            <h4>Product Details</h4>
                            <div class="border rounded">
                                <div class="container">
                                    {{listing.description}}
                                    <ul>
                                        {% if user == listing.creator %}
                                            <li>Listed by you.</li>
                                            <li>Category: {{listing.category}}</li>
                                        {% else %}
                                        <li>Listed by: {{listing.creator}}</li>
                                        <li>Category: {{listing.category}}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <br>
                            {% if user.is_authenticated %}
                                {% if user == listing.creator %}
                                    <a href="{% url 'close_listing' listing.id %}" class="btn btn-danger">Close listing</a>
                                {% else %}
                                    {% if in_watchlist %}
                                        <a href="{% url 'remove_watchlist' listing.id %}" class="btn btn-outline-secondary">Remove from Watchlist</a>
                                    {% else %}
                                        <a href="{% url 'add_watchlist' listing.id %}" class="btn btn-outline-warning">Add to Watchlist</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                            
                    {% else %}
                        <div class= 'text-muted' style="text-align: center; vertical-align:text-top;">
                            <h4>This listing is no longer active.</h4>
                            <br>
                            {% if listing.creator == current_bid.user %}
                                Owner has remove it from the auction.
                            {% else %}
                                {% if user == current_bid.user %}
                                    Sold to you for $ {{current_bid.price}}
                                {% else %}
                                    Sold to {{current_bid.user}} for $ {{current_bid.price}}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}

                </td>
            </tr>
        </table>
        {% if user.is_authenticated %}
            {% if comments %}
                <br>
                <h3>Comments</h3>
                {% for comment in comments%}
                    <br>
                    <div class="container">
                        <div class="card">
                            <div class="card-header">
                                {{comment.user}}  -  {{comment.time}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{comment.text}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <form action="{% url 'comment' listing.id %}" method="post" class="form-group">
                {% csrf_token %}
                <div class="container">
                    <textarea style="width:100%" class=" rounded border border-light shadow p-3 mb-3 bg-white from-control" name="comment" placeholder=" Comment something here." rows="3"></textarea>
                </div>  
                <div class="container">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>  
            </form>
            
        {% endif %}
    </div>

{% endblock %}